<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.refactor.org/ModelEditor"
			class = "org.refactor.modelEditor.ModelEditorPackage"
			genModel = "model/generated/ModelEditor.genmodel" />
	</extension>
		<extension
		point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.refactor.ComputeDSI"
            id="outCode.compute.dsi"
            name="Compute DSI">
        </command>
	</extension>
</plugin>
